.chat-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;

  background: $btn-color;
  background-image: url("../assets/chat-svgrepo-com.svg");

  -webkit-box-shadow: 2px 3px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 17px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 17px -3px rgba(0, 0, 0, 0.75);
}
