$primary-color: #f4fcd9;
$primary-color-light: #feb6b6;

$secondary-color: #c0eda6;
$secondary-color-light: #fff7bc;

$dark-color: #534340;

$container-lg: 80%;

$font-color-dark: #000000;
$font-color-light: rgb(29, 29, 29);
$black-color: #000000;
$white-color: #ffffff;

$btn-color: #4dc95b;
