<footer>
  <div class="container">
    <article>
      <a href="" class="footer__logo">
        <h3>MEDICARE GROUP OF HOSPITALS</h3>
      </a>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi laborum
        doloremque culpa veritatis voluptatibus eos aliquam commodi molestiae
        eveniet delectus!
      </p>
      <div>
        <i class="bx bx-mail-send"></i>
        <small>support@medicare.com</small>
      </div>
    </article>

    <article>
      <h3>Support</h3>
      <a href="">Privacy Policy</a>
      <a href="">Cookie Policy</a>
      <a href="">Purchasing Policy</a>
      <a href="">Terms and Conditions</a><a href="">Careers</a>
    </article>
    <article>
      <h3>Permalinks</h3>
      <a href="">Home</a>
      <a href="">Services</a>
      <a href="">Specialists</a>
      <a href="">Testimonials</a><a href="">Book Appointment</a>
    </article>

    <article>
      <h3>Contact Us</h3>
      <p>Press</p>
      <p>FAQs</p>
      <div class="footer_socials">
        <a href="" class="bx bx1-linkedin"></a
        ><a href="" class="bx bx1-linkedin"></a
        ><a href="" class="bx bx1-linkedin"></a
        ><a href="" class="bx bx1-linkedin"></a>
      </div>
    </article>
  </div>
  <div class="copyright">
    <small
      >&copy; Copyright MEDICARE GROUP OF HOSPITALS. All Rights Reserved.</small
    >
  </div>
</footer>
