<nav>
  <div class="container">
    <a href="#" class="nav__logo">
      <div class="horizontal-container logo-container">
        <img
          src="./assets/hospital-cross-in-3d-circle-svgrepo-com.svg"
          class="logo"
          alt=""
        />
        <h3>MEDICARE GROUP OF HOSPITALS</h3>
      </div>
    </a>
    <ul id="nav__items">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/signin">Sign In</a></li>
      <li>
        <a href="" class="btn">Book Appointment</a>
      </li>
    </ul>
  </div>
</nav>
