<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="https://img.icons8.com/external-prettycons-flat-prettycons/47/000000/external-404-web-and-seo-prettycons-flat-prettycons.png"
      type="image/x-icon"
    />
    <title>Page not found</title>

    <link rel="stylesheet" href="css/styles.min.css" />
  </head>
  <body class="error-body">
    <img src="assets/404.jpg" alt="" />
  </body>
</html>
