<head>
    <link rel="stylesheet" href="css/doctor.css">
    
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
        <body>
            <div class="main-container">
                <!-- LEFT-CONTAINER -->
                <div class="left-container container">
                    <div class="menu-box block"> <!-- MENU(LEFT-CONTAINER) -->
                        <h2 class="titular">MENU</h2>
                        <ul class="menu-box-menu">
                            <li>
                                <a class="menu-box-tab" href="#6"><span class="icon fontawesome-envelope scnd-font-color"></span>Profile<div class="menu-box-number"></div></a>                            
                            </li>
                            <li>
                                <a class="menu-box-tab" href="#8"><span class="icon entypo-cog scnd-font-color"></span>Settings<div class="menu-box-number"></div></a>                            
                            </li>
                            <li>
                                <a class="menu-box-tab" href="#13"><sapn class="icon entypo-chart-line scnd-font-color"></sapn>Appointments</a>                           
                            </li>
                            <li>
                                <a class="menu-box-tab" href="#12"><span class="icon entypo-paper-plane scnd-font-color"></span>Payments</a>
                            </li>                       
                        </ul>
                    </div>
                </div> 
    
                <!-- MIDDLE-CONTAINER -->
                <div class="middle-container container">
                    <div class="profile block"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                    
                        <!--<a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>-->
                        <br>
                        <div class="profile-picture big-profile-picture clear">
                            <img width="150px" alt="Anne Hathaway picture" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" >
                        </div>
                        <h1 class="user-name">*INSERT DOCTOR NAME HERE*</h1>
                        
                        <table name="Ad_smthng" style="width:100%;color: white">
                        <tr>
                          <th  align='center'>Educational qualifications</th>
                        <th align='center'> Services offered </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        </table>
                    </div>
                    
                </div>
    
                <!-- RIGHT-CONTAINER -->
                <div class="right-container container">
                    
                    <div class="loading block"> <!-- LOADING (RIGHT-CONTAINER) -->
                    <p>Reviews</p>
                        
                    </div>
                    
                </div> <!-- end right-container -->
            </div> <!-- end main-container -->
        </body>
    