<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicare Group of Hospitals | Home</title>
    <link
      rel="shortcut icon"
      href="assets/hospital-cross-in-3d-circle-svgrepo-com.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/styles.min.css" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <header>
      <div class="container">
        <div class="header__content">
          <h1>Complete Health Care Solutions for Everyone</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
            animi aspernatur assumenda minima officiis modi illum labore fugiat
            eveniet illo vel, delectus, esse a. Officiis ex cupiditate odio quia
            sint nobis est. Saepe qui quos rerum architecto, quis alias eius?
          </p>
          <a href="" class="btn">Book Appointment</a>
        </div>
        <div class="header__image">
          <img src="assets/header.jpg" alt="Header Image" />
        </div>
      </div>
    </header>

    <main>
      <button class="chat-btn">
        <img
          src="https://img.icons8.com/material-rounded/40/ffffff/chat--v1.png"
        />
      </button>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
