<head>
  <link rel="stylesheet" href="css/patient.css" />
  <!-- <link rel="stylesheet" href="css/styles.min.css" /> -->

  <script
    src="https://kit.fontawesome.com/a076d05399.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <!-- <%- include("./partials/navbar.ejs") %> -->

  <div class="main-container">
    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
      <div class="menu-box block">
        <!-- MENU(LEFT-CONTAINER) -->
        <h2 class="titular">MENU</h2>
        <ul class="menu-box-menu">
          <li>
            <a class="menu-box-tab" href="/"
              ><span class="icon entypo-calendar scnd-font-color"></span>Home
              <div class="menu-box-number"></div
            ></a>
          </li>
          <li>
            <a class="menu-box-tab" href="#6"
              ><span class="icon fontawesome-envelope scnd-font-color"></span
              >Profile
              <div class="menu-box-number"></div
            ></a>
          </li>
          <li>
            <a class="menu-box-tab" href="/contact-consultancy"
              ><span class="icon entypo-cog scnd-font-color"></span>Contact
              Consultancy
              <div class="menu-box-number"></div
            ></a>
          </li>
          <li>
            <a class="menu-box-tab" href="/final-payment"
              ><span class="icon entypo-paper-plane scnd-font-color"></span
              >Payments</a
            >
          </li>
          <li>
            <a class="menu-box-tab" href="/book-appointment"
              ><sapn class="icon entypo-chart-line scnd-font-color"></sapn
              >Appointments</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- MIDDLE-CONTAINER -->
    <div class="middle-container container">
      <div class="profile block">
        <!-- PROFILE (MIDDLE-CONTAINER) -->

        <!--<a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>-->
        <br />
        <div class="profile-picture big-profile-picture clear">
          <img
            width="150px"
            alt="Anne Hathaway picture"
            src="https://static.vecteezy.com/system/resources/previews/002/165/145/original/woman-patient-during-coronavirus-vaccine-injection-free-vector.jpg"
          />
        </div>
        <h1 class="user-name">Siddharth</h1>

        <table name="Ad_smthng" style="width: 100%; color: white">
          <tr>
            <th>Address</th>
            <td align="center">Height: 180cm</td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2">123 abc st, C.A, USA</td>
            <td align="center">Weight: 88kg</td>
            <td></td>
          </tr>
          <tr>
            <td align="center">Heart Rate: 70bps</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

    <!-- RIGHT-CONTAINER -->
    <div class="right-container container">
      <div class="loading block">
        <!-- LOADING (RIGHT-CONTAINER) -->
        <p>Blood Pressure level</p>
        <div class="progress-bar bop"></div>

        <p class="percentage">61<sup>%</sup></p>
        <p>Diabetes Level</p>
        <div class="progress-bar syon"></div>

        <p class="percentage">54<sup>%</sup></p>
      </div>
    </div>
    <!-- end right-container -->
  </div>
  <!-- end main-container -->
</body>
