.btn {
  background-color: $dark-color-tint !important;
  color: $white-color !important;
  font-weight: 600 !important;
  padding: 1rem !important;
  border-radius: 0.4rem !important;
  cursor: pointer !important;
}
