.chat-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: $dark-color-tint;

  box-shadow: 2px 3px 17px -3px rgba(0, 0, 0, 0.75);
}
