@import './variables';

html {
  scroll-behavior: smooth;
}

body {
  font-family: $montserrat-font;
  line-height: 1.5;
  background-color: $primary-color;
  @include gradientBackground;

  // Choose whichever looks good
  // color: $font-color-dark;
  color: $dark-color;
}

.container {
  width: $container-lg;
  margin: 0 auto;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;

  @include linearGradientText;

  // Choose whichever looks good
  // color: $font-color-dark;
  color: $dark-color;
}
