header {
  // @include gradientBackground;

  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  .container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 8%;
    align-items: center;
    justify-content: center;

    .header__content {
      h1 {
        font-size: 3.5rem;
        line-height: 1.1;
        letter-spacing: -3px;
      }

      p {
        margin: 1rem 0 2rem;
        font-size: 1.1rem;
      }
    }
  }

  .header__image img {
    margin-top: 3rem;
    width: 100%;
    border-radius: 1rem;
  }
}
