nav {
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 10;
  display: grid;
  place-items: center;
  @include gradientBackground;
  box-shadow: 0 1rem 1rem rgba($black-color, 0.1);

  img {
    opacity: 0.6;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container h3 {
      margin-left: 1rem;
      line-height: 2;
      justify-content: baseline;
    }

    ul {
      display: flex;
      gap: 3rem;
      align-items: center;
    }

    a {
      font-weight: 400;
      font-size: 0.9rem;
      color: $black-color;
    }

    a.btn {
      color: $white-color;
      font-weight: 600;
    }
  }

  // .nav__items a.btn {
  //   background-color: black;
  //   color: $white-color;
  // }
}

// TODO: make it responsive!
// @media screen and (max-width: 1024px) {
//   nav {
//     .container {
//       button {
//         display: inline-block;
//         background: transparent;
//         color: $white-color;
//         font-size: 2rem;
//         cursor: pointer;
//       }
//     }
//   }
// }
