.signin-body,
.signup-body header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    7deg,
    $primary-color 50%,
    $primary-color-light 50%,
    $secondary-color-light 100%
  );
}

.signin-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  .signin-form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: $primary-color;

    @include cardShadow;

    h3 {
      align-self: center;

      span {
        @include linearGradientText;
        border-bottom: 3px solid $dark-color;
        border-collapse: collapse;
      }
    }

    // @include styledInputBoxes;

    input[type='email'],
    input[type='password'] {
      background-color: $white-color;
      border-bottom: 3px solid $dark-color-tint;
      padding: 5px;
      height: 2.2rem;

      font-family: $montserrat-font;
      font-weight: 500;
    }

    input[type='submit'] {
      font-weight: 600;
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
