// COLORS:
$black-color: #000000;
$white-color: #ffffff;

$primary-color: #f4fcd9;
$primary-color-light: #feb6b6;

$secondary-color: #c0eda6;
$secondary-color-light: #fff7bc;

$dark-color: #534340;
$dark-color-tint: #bb9981;
$dark-color-tint2: #a88a74;

$font-color-dark: $black-color;
$font-color-light: rgb(29, 29, 29);

// SIZES:
$container-lg: 80%;

// FONT:
$montserrat-font: 'Montserrat', sans-serif;
